@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Open Sans', sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 30%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 30%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 30%;
    --primary: 210 100% 20%;
    --primary-foreground: 0 0% 100%;
    --secondary: 194 100% 27%;
    --secondary-foreground: 0 0% 100%;
    --muted: 205 71% 94%;
    --muted-foreground: 210 20% 40%;
    --accent: 203 38% 74%;
    --accent-foreground: 210 100% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 20% 90%;
    --input: 210 20% 90%;
    --ring: 210 100% 20%;
    --chart-1: 210 100% 20%;
    --chart-2: 194 100% 27%;
    --chart-3: 203 38% 74%;
    --chart-4: 205 71% 94%;
    --chart-5: 0 0% 30%;
    --radius: 1rem;
  }

  .dark {
    --background: 210 50% 5%;
    --foreground: 210 20% 98%;
    --card: 210 50% 8%;
    --card-foreground: 210 20% 98%;
    --popover: 210 50% 5%;
    --popover-foreground: 210 20% 98%;
    --primary: 210 100% 40%;
    --primary-foreground: 0 0% 100%;
    --secondary: 194 100% 40%;
    --secondary-foreground: 0 0% 100%;
    --muted: 210 50% 15%;
    --muted-foreground: 210 20% 70%;
    --accent: 203 38% 30%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 210 50% 15%;
    --input: 210 50% 15%;
    --ring: 210 100% 60%;
    --chart-1: 210 100% 40%;
    --chart-2: 194 100% 40%;
    --chart-3: 203 38% 30%;
    --chart-4: 210 50% 25%;
    --chart-5: 0 0% 80%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    scroll-behavior: smooth;
  }

  section {
    @apply scroll-mt-20;
  }
}